@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}


/* Estilo principal del encabezado*/

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
}

header .Logo
{
    position: relative;
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}

header ul
{
    position: relative;
    display: flex;
    gap: 20px;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}

header ul li.active a,
header ul li:hover a
{
    color: #30fe6c;
}

#home
{
    background: #222;
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#home::before
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 25vw;
    background: #30fe6c;
    border-top-right-radius: 25vw;
    border-top-left-radius: 25vw;
}

#home .content
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}

#home .content h2
{
    position: relative;
    font-size: 5em;
    color: #30fe6c;
}

#home .content p
{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}

.btn
{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background: #30fe6c;
    color: #200;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
}

#home .img
{
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 90vh;
}

#projects,
#skills,
#contact
{
    position: relative;
    background: #34353a;
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.secText
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secText h2
{
    font-size: 3em;
    color: #fff;
}

.secText p
{
    max-width: 700px;
    text-align: center;
    color: #aaa;
    font-size: 1.1em;
    line-height: 1.5em;
}

#projects .content
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

#projects .content .projectsBx
{
    background: #2e2f34;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #2e2f34;
    gap: 20px;
}

#projects .content .projectsBx:hover
{
   border: 2px solid #30fe6c;
   transition: 0.5s; 
}

/*tamaño y color de los iconos de los projectos*/

#projects .content .projectsBx i
{
    font-size: 200px;
    color: gray;
    margin: 7px;
    transition: 0.5s;
    opacity: 0.5;
}

#projects .content .projectsBx:hover i
{
    color: #30fe6c;
}

#projects .content .projectsBx h3
{
    color: #fff;
    font-weight: 500;
    color: #30fe6c;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.b {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E22219;
    font-size: 1rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;
}


.b:hover {
        color: #000;
        font-weight: bold;
        /*me gusta para tenerlo
    box-shadow: 0 0 5px #d37f12,
                0 0 25px #b90e78,
                0 0 50px #2ea50a,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);*/
        text-shadow: 0 0 5px #E22219,
                     0 0 5px #E22219, 
                     0 0 5px #E22219, 
                     0 0 5px #E22219;
}


.b i {
        font-size: 35px;
        color: #E22219;
}


.b:hover i
{
   transition: 0.5;
    color: #050800;
}

/* Colores a los botones*/
/*git*/
.b1 {
    color: #F26620;
}

.b1:hover {
    text-shadow: 0 0 5px #F26620, 0 0 5px #F26620, 0 0 5px #F26620, 0 0 5px #F26620;
}


.b1 i {
    color: #F26620;
 }


/*ld*/

.b2 {
    color: #1950E2;
}

.b2:hover {
    text-shadow: 0 0 5px #1950E2, 0 0 5px #1950E2, 0 0 5px #1950E2, 0 0 5px #1950E2;
}


.b2 i {
    color: #1950E2;
}

/*whatsapp*/
.b3 {

    color: #17DE29;

}

.b3:hover{
    text-shadow: 0 0 5px #17DE29, 0 0 5px #17DE29, 0 0 5px #17DE29, 0 0 5px #17DE29;
}


.b3 i {
    color: #17DE29;
}

/*Botones para Skills*/

.buttonSkill{
    transition: all 0.3s ease 0s;
    font-size: 45px;
    background-color: #222;
    color: #30fe6c;
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    min-width: 60px;
    line-height: 60px;
    align-self: center;
    cursor: pointer;
    outline: none;
}

.buttonSkill:hover{
    color: #222;
    background-color: #30fe6c;
    font-size: 60px;
}

.cajaSkills{
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0px 10px;
}

.cajaSkills2{
    position: absolute;
    display: flex;
    flex-direction: row;
    transition: all 500ms ease 0s;
    left: -863.589px;
    right: auto;
    top: auto;
}

.cajaSkills3{
    display: flex;
}

.cajaSkill{
    width: 119.745px;
    padding: 0px;
}

.cajaskill2{
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    user-select: none;
    -webkit-box-pack: center;
    justify-content: center;
}
}
