@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* Estilo principal del encabezado*/

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .Logo
{
    position: relative;
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}

#home
{
    background: #222;
    position: relative;
    width: 100%;
    min-height: 100vh; 
}